<html>

<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {{!--
	<link href="/css/introHCI.css" rel="stylesheet"> --}}
    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/checkout/">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

</head>

<body class="bg-light" data-gr-c-s-loaded="true">
    <header>
        <div class="nav-container">

            <!-- INSERT LOGO/IMAGE HERE -->
            <h2>FindARoommate</h2>
            <nav>
                <ul>
                    <li><a href="/index">Home</a></li>
                    <li><a href="/user">My Profile</a></li>
                    <li><a href="/settings">Settings</a></li>
                    <!-- PLACEHOLDER LINK FOR SETTINGS PAGE (change '#' to '/settings') -->
                </ul>
            </nav>
        </div>
    </header>
    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="offeringApartment-tab" data-toggle="tab"
                    href="#offeringApartment" role="tab" aria-controls="offeringApartment"
                    aria-selected="true">Offering an Apartment</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="lookingApartment-tab" data-toggle="tab"
                    href="#lookingApartment" role="tab" aria-controls="profile"
                    aria-selected="false">Looking for Apartment</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="offeringApartment" role="tabpanel"
                aria-labelledby="offeringApartment-tab" style="background-color:white;">
                <div class="py-5 text-center">
                    <h2>Create Profile Form</h2>
                    <p class="lead">Below is the Creation if you are offering a
                        apartment</p>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <h4 class="mb-3">Address</h4>
                    </div>
                    <div class="col-md-8 order-md-1">
                        <form class="needs-validation" novalidate="">
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="userName">Name</label>
                                    <input type="text" class="form-control" id="userName"
                                        placeholder="Your name here" value="">
                                    {{!-- required="" --}}
                                    <div class="invalid-feedback">
                                        Valid name is required.
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="email"
                                    placeholder="you@example.com">
                                {{!-- required="" --}}
                                <div class="invalid-feedback">
                                    Please enter a valid email address
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="address">Address</label>
                                <input type="text" class="form-control" id="address"
                                    placeholder="1234 Main St">
                                {{!-- required="" --}}
                                <div class="invalid-feedback">
                                    Please enter your apartment address
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="address2">Address 2 <span
                                        class="text-muted">(Optional)</span></label>
                                <input type="text" class="form-control" id="address2"
                                    placeholder="Apartment or suite">
                            </div>

                            <div class="row">
                                <div class="col-md-5 mb-3">
                                    <label for="country">Country:</label>
                                    <select class="custom-select d-block w-100"
                                        id="country">
                                        <option value="">United States</option>
                                        <option>United States</option>
                                    </select>
                                    {{!-- <div class="invalid-feedback">
                                Please select a valid country.
                            </div> --}}
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="state">State</label>
                                    <select class="custom-select d-block w-100"
                                        id="state">
                                        <option value="">California</option>
                                        <option>California</option>
                                    </select>
                                    {{!-- <div class="invalid-feedback">
                                Please provide a valid state.
                            </div> --}}
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="zip">Zip</label>
                                    <input type="text" class="form-control" id="zip"
                                        placeholder="">
                                    {{!-- required="" --}}
                                    <div class="invalid-feedback">
                                        Zip code required.
                                    </div>
                                </div>
                            </div>
                            <hr class="mb-4">
                            <div class="row" style="margin: auto">

                                <div class="col-md-12">
                                    <h4 class="mb-3">Apartment
                                        Offering</h4>
                                </div>
                                <label class="custom-control-label"
                                    for="roomSize"><strong>Room
                                        Size:</strong></label>
                                <div class="col-md-6">

                                    <div class="d-block my-3" id="roomSize">
                                        <div class="custom-control custom-radio">
                                            <input id="livingRoom"
                                                name="apartmentOffering" type="radio"
                                                class="custom-control-input" checked="">
                                            {{!-- required="" --}}
                                            <label class="custom-control-label"
                                                for="livingRoom">Living
                                                Room</label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input id="singleRoom"
                                                name="apartmentOffering" type="radio"
                                                class="custom-control-input">
                                            {{!-- required="" --}}
                                            <label class="custom-control-label"
                                                for="singleRoom">Single</label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input id="doubleRoom"
                                                name="apartmentOffering" type="radio"
                                                class="custom-control-input">
                                            {{!-- required="" --}}
                                            <label class="custom-control-label"
                                                for="doubleRoom">Spot in a
                                                Double</label>
                                        </div>
                                    </div>
                                </div>
                                <label class="custom-control-label"
                                    for="genderLook"><strong>Gender:</strong></label>
                                <div class="col-md-6">

                                    <div class="d-block my-3" id="genderLook">
                                        <div class="custom-control custom-radio">
                                            <input id="male" name="Gender" type="radio"
                                                class="custom-control-input" checked="">
                                            {{!-- required="" --}}
                                            <label class="custom-control-label"
                                                for="male">Male</label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input id="female" name="Gender" type="radio"
                                                class="custom-control-input">
                                            {{!-- required="" --}}
                                            <label class="custom-control-label"
                                                for="female">Female</label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input id="coed" name="Gender" type="radio"
                                                class="custom-control-input">
                                            {{!-- required="" --}}
                                            <label class="custom-control-label"
                                                for="coed">Coed</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="rent">Rent Per Month</label>
                                    <input type="rent" class="form-control" id="rent"
                                        placeholder="700">
                                    {{!-- required="" --}}
                                    <div class="invalid-feedback">
                                        Please enter a Price
                                    </div>
                                </div>
                                <label class="custom-control-label"
                                    for="restOfRoomPref"><strong>Other
                                        Offerings:</strong></label>
                                <div class="col-md-6">
                                    <div id="restOfRoomPref">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox"
                                                class="custom-control-input" id="ownBath">
                                            <label class="custom-control-label"
                                                for="ownBath">Own
                                                Bathroom</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox"
                                                class="custom-control-input" id="AC">
                                            <label class="custom-control-label"
                                                for="AC">In
                                                Unit
                                                AC</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox"
                                                class="custom-control-input" id="heating">
                                            <label class="custom-control-label"
                                                for="heating">Heating</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox"
                                                class="custom-control-input" id="laundry">
                                            <label class="custom-control-label"
                                                for="laundry">In
                                                Unit Laundry</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox"
                                                class="custom-control-input" id="parking">
                                            <label class="custom-control-label"
                                                for="parking">Parking
                                                Space</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox"
                                                class="custom-control-input" id="pets">
                                            <label class="custom-control-label"
                                                for="pets">Pets
                                                Allowed</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox"
                                                class="custom-control-input" id="busStop">
                                            <label class="custom-control-label"
                                                for="busStop">Near Bus
                                                Stop</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox"
                                                class="custom-control-input" id="gym">
                                            <label class="custom-control-label"
                                                for="gym">Gym</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox"
                                                class="custom-control-input" id="pool">
                                            <label class="custom-control-label"
                                                for="pool">Pool</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="mb-3 col-md-12">
                                    <label for="apartmentFeatures">Other
                                        Apartment
                                        Features</label>
                                    <textarea class="form-control" id="apartmentFeatures"
                                        placeholder=""></textarea>
                                    <small class="text-muted">Put more things
                                        you
                                        offer</small>
                                    <div class="invalid-feedback">
                                        Please enter a message in the textarea.
                                    </div>
                                </div>

                            </div>
                            <hr class="mb-4">

                            <h4 class="mb-3">Roommate Preferences</h4>

                            <div class="d-block my-3 ">
                                <div class="custom-control custom-radio">
                                    <input id="late" name="paymentMethod" type="radio"
                                        class="custom-control-input" checked=""
                                        required="">
                                    <label class="custom-control-label" for="late">Night
                                        Owl</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input id="early" name="paymentMethod" type="radio"
                                        class="custom-control-input" required="">
                                    <label class="custom-control-label" for="early">Early
                                        Bird</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input id="noSleep" name="paymentMethod" type="radio"
                                        class="custom-control-input" required="">
                                    <label class="custom-control-label"
                                        for="noSleep">Legendary No
                                        Sleeper</label>
                                </div>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input"
                                    id="smoker">
                                <label class="custom-control-label" for="smoker"> Ok
                                    with Smoker</label>
                            </div>
                            <label class="custom-control-label" for="cleanness">
                                Cleanliness
                            </label>
                            <select class="custom-select custom-select-lg mb-3"
                                id="cleanness">
                                <option value="1" selected>Messy</option>
                                <option value="2">Kind of Clean</option>
                                <option value="3">Neat Freak</option>
                            </select>
                            <div class="mb-3">
                                <label for="roommatePreference">Other Roommate
                                    Preferences</label>
                                <textarea class="form-control" id="roommatePreference"
                                    placeholder=""></textarea>
                                <div class="invalid-feedback">
                                    Please enter a message in the textarea.
                                </div>
                                <small class="text-muted">Put more things you
                                    looking for in a roommate</small>
                            </div>

                            <hr class="mb-4">
                            <button id="offerApartmentButton"
                                class="btn btn-primary btn-lg btn-block"
                                onclick="submitData()" type="button">Create
                                Profile</button>
                            {{!-- <button class="btn btn-primary btn-lg btn-block" id="offerApartmentButton"
                                    onclick="submitData()" type="submit">Create
                                    Profile</button> --}}
                            {{!-- <input type="submit" id="offerApartmentButton"
                                class="btn btn-default"
                                value="Create Offering Apartment Profile"
                                onclick="submitData()"></input> --}}
                        </form>
                    </div>
                </div>
            </div>
            <div class=" tab-pane fade" id="lookingApartment" role="tabpanel"
                aria-labelledby="lookingingApartment-tab" style="background-color: white">
                <div class="py-5 text-center">
                    <h2>Create Profile Form</h2>
                    <p class="lead">Below is the Creation if you are
                        looking for
                        a
                        apartment</p>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <h4 class="mb-3">Address</h4>
                    </div>
                    <div class="col-md-8 order-md-1">
                        <form class="needs-validation" novalidate="" role="form"
                            method="get" id="formLooking">
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="userName">Name</label>
                                    <input type="text" class="form-control"
                                        id="userNamelooking" placeholder="input name here"
                                        value="" required="">
                                    <div class="invalid-feedback">
                                        Valid name is required.
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="emaillooking"
                                    placeholder="you@ucsd.edu" required="">
                                <div class="invalid-feedback">
                                    Please enter a valid email
                                    address
                                </div>
                            </div>


                            <hr class="mb-4">
                            <div class="row" style="margin: auto">

                                <div class="col-md-12">
                                    <h4 class="mb-3">Apartment
                                        Looking</h4>
                                </div>
                                <label class="custom-control-label"
                                    for="lookingroomSize"><strong>Room
                                        Size:</strong></label>
                                <div class="col-md-6">

                                    <div class="d-block my-3" id="lookingroomSize">

                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox"
                                                class="custom-control-input"
                                                id="lookinglivingRoom">
                                            <label class="custom-control-label"
                                                for="lookinglivingRoom">Living
                                                Room</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox"
                                                class="custom-control-input"
                                                id="lookingsingleRoom">
                                            <label class="custom-control-label"
                                                for="lookingsingleRoom">Single
                                                Room</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox"
                                                class="custom-control-input"
                                                id="lookingdoubleRoom">
                                            <label class="custom-control-label"
                                                for="lookingdoubleRoom">Double
                                                Room</label>
                                        </div>

                                    </div>
                                </div>
                                <label class="custom-control-label"
                                    for="genderLooking"><strong>Gender:</strong></label>
                                <div class="col-md-6">

                                    <div class="d-block my-3" id="genderLooking">
                                        <div class="custom-control custom-radio">
                                            <input id="lookingmale" name="maleOrFemale"
                                                type="radio" class="custom-control-input"
                                                required="">
                                            <label class="custom-control-label"
                                                for="lookingmale">Male
                                                Apartment</label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input id="lookingfemale" name="maleOrFemale"
                                                type="radio" class="custom-control-input"
                                                checked="" required="">
                                            <label class="custom-control-label"
                                                for="lookingfemale">Female
                                                Apartment</label>
                                        </div>

                                        <div class="custom-control custom-radio">
                                            <input id="lookingcoed" name="maleOrFemale"
                                                type="radio" class="custom-control-input"
                                                checked="" required="">
                                            <label class="custom-control-label"
                                                for="lookingcoed">Coed
                                                Apartment</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="minRent">Rent Per
                                        Month
                                        Min</label>
                                    <input type="rent" class="form-control" id="minRent"
                                        placeholder="700" required="">
                                    <div class="invalid-feedback">
                                        Please enter a Min Price
                                    </div>
                                    <label for="maxRent">Rent Per
                                        Month
                                        Max</label>
                                    <input type="rent" class="form-control" id="maxRent"
                                        placeholder="1000" required="">
                                    <div class="invalid-feedback">
                                        Please enter a Max Price
                                    </div>
                                </div>
                                <label class="custom-control-label"
                                    for="restOfRoomPreflooking"><strong>Other
                                        Amentities:</strong></label>
                                <div class="col-md-6">
                                    <div id="restOfRoomPreflooking">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox"
                                                class="custom-control-input"
                                                id="ownBathlooking">
                                            <label class="custom-control-label"
                                                for="ownBathlooking">Own
                                                Bathroom</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox"
                                                class="custom-control-input"
                                                id="AClooking">
                                            <label class="custom-control-label"
                                                for="AClooking">In
                                                Unit
                                                AC</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox"
                                                class="custom-control-input"
                                                id="heatinglooking">
                                            <label class="custom-control-label"
                                                for="heatinglooking">Heating</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox"
                                                class="custom-control-input"
                                                id="laundrylooking">
                                            <label class="custom-control-label"
                                                for="laundrylooking">In
                                                Unit Laundry</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox"
                                                class="custom-control-input"
                                                id="parkinglooking">
                                            <label class="custom-control-label"
                                                for="parkinglooking">Parking
                                                Space</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox"
                                                class="custom-control-input"
                                                id="petslooking">
                                            <label class="custom-control-label"
                                                for="petslooking">Pets
                                                Allowed</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox"
                                                class="custom-control-input"
                                                id="busStoplooking">
                                            <label class="custom-control-label"
                                                for="busStoplooking">Near
                                                Bus
                                                Stop</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox"
                                                class="custom-control-input"
                                                id="gymlooking">
                                            <label class="custom-control-label"
                                                for="gymlooking">Gym</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox"
                                                class="custom-control-input"
                                                id="poollooking">
                                            <label class="custom-control-label"
                                                for="poollooking">Pool</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="mb-4">

                            <h4 class="mb-3">I Am A:</h4>

                            <div class="d-block my-3 ">
                                <div class="custom-control custom-radio">
                                    <input id="latelooking" name="paymentMethod"
                                        type="radio" class="custom-control-input"
                                        checked="" required="">
                                    <label class="custom-control-label"
                                        for="latelooking">Night
                                        Owl</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input id="earlylooking" name="paymentMethod"
                                        type="radio" class="custom-control-input"
                                        required="">
                                    <label class="custom-control-label"
                                        for="earlylooking">Early
                                        Bird</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input id="noSleeplooking" name="paymentMethod"
                                        type="radio" class="custom-control-input"
                                        required="">
                                    <label class="custom-control-label"
                                        for="noSleeplooking">Legendary
                                        No
                                        Sleeper</label>
                                </div>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input"
                                    id="smokerlooking">
                                <label class="custom-control-label" for="smokerlooking">
                                    Ok
                                    with Smoker</label>
                            </div>
                            <label class="custom-control-label" for="cleannesslooking">
                                Cleanliness
                            </label>
                            <select class="custom-select custom-select-lg mb-3"
                                id="cleannesslooking">
                                <option value="1" selected>Messy
                                </option>
                                <option value="2">Kind of Clean
                                </option>
                                <option value="3">Neat Freak
                                </option>
                            </select>
                            <div class="mb-3">
                                <label for="aboutMe">More About
                                    Me</label>
                                <textarea class="form-control" id="aboutMe"
                                    placeholder=""></textarea>
                                <div class="invalid-feedback">
                                    Please enter a message in the
                                    textarea.
                                </div>
                                <small class="text-muted">Put more
                                    about
                                    yourself</small>
                            </div>
                            <hr class="mb-4">
                            {{!-- <input type="submit" id="lookingApartmentButton"
                                class="btn btn-default"
                                value="Create Looking Apartment Profile"></input> --}}
                            {{!-- <button class="btn btn-primary btn-lg btn-block"
                                id="lookingApartmentButton" type="submit">Create
                                Profile</button> --}}
                            <button id="lookingApartmentButton"
                                class="btn btn-primary btn-lg btn-block"
                                onclick="submitLookingData()" type="button">Create
                                Profile</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script src="js/form-validation.js"></script>
        <script>

            function temp() {
                if (localStorage.getItem('name') != null) {
                    let name = localStorage.getItem('name');
                    console.log("name " + name);
                    document.getElementById("userName").value = name;
                    document.getElementById("userNamelooking").value = name;
                }
                if (localStorage.getItem('email') != null) {
                    let email = localStorage.getItem('email');
                    console.log("email " + email);
                    document.getElementById("email").value = email;
                    document.getElementById("emaillooking").value = email;
                }
            }
            temp();

            /**
             * sends a request to the specified url from a form. this will change the window location.
             * @param {string} path the path to send the post request to
             * @param {object} params the paramiters to add to the url
             * @param {string} [method=post] the method to use on the form
             */

            function post(path, params, method) {
                method = method || "get"; // Set method to post by default if not specified.

                // The rest of this code assumes you are not using a library.
                // It can be made less wordy if you use one.
                var form = document.createElement("form");
                form.setAttribute("method", method);
                // form.setAttribute("role", "form");
                form.setAttribute("action", path);

                for (var key in params) {
                    if (params.hasOwnProperty(key)) {
                        var hiddenField = document.createElement("input");
                        //  hiddenField.setAttribute("type", "hidden");
                        hiddenField.setAttribute("name", key);
                        hiddenField.setAttribute("value", params[key]);
                        form.appendChild(hiddenField);
                    }
                }

                document.body.appendChild(form);
                form.submit();
            }

            function submitLookingData() {
                console.log('TEST'); // debug statement
                let user = {
                    "name": document.getElementById("userNamelooking").value,
                    "user-state": 1,
                    "img_url": "",
                    "email": document.getElementById("emaillooking").value,
                    "living": document.getElementById("lookinglivingRoom").checked,
                    "single": document.getElementById("lookingsingleRoom").checked,
                    "double": document.getElementById("lookingdoubleRoom").checked,
                    "gender": "",
                    "min-rent": document.getElementById("minRent").value,
                    "max-rent": document.getElementById("maxRent").value,
                    "own-Bath": document.getElementById("ownBathlooking").checked,
                    "AC": document.getElementById("AClooking").checked,
                    "heating": document.getElementById("heatinglooking").checked,
                    "laundry": document.getElementById("laundrylooking").checked,
                    "parking": document.getElementById("parkinglooking").checked,
                    "pets": document.getElementById("petslooking").checked,
                    "bus": document.getElementById("busStoplooking").checked,
                    "gym": document.getElementById("gymlooking").checked,
                    "pool": document.getElementById("poollooking").checked,
                    "time-of-day": "",
                    "smoker-setting": document.getElementById("smokerlooking").checked,
                    "cleanliness": document.getElementById("cleannesslooking").value,
                    "other-roommateNotes": document.getElementById("aboutMe").value
                }
                // check the room size
                if (localStorage.getItem('img') != null) {
                    let img = localStorage.getItem('img');
                    user["img_url"] = img;
                }
                // the Gender M, F, C
                if (document.getElementById("male").value == "on") {
                    user["gender"] = "M";
                }
                else if (document.getElementById("singleRoom").value == "on") {
                    user["gender"] = "F";
                }
                else {
                    user["gender"] = "C";
                }
                // the time N, E, L
                if (document.getElementById("late").value == "on") {
                    user["time-of-day"] = "N";
                }
                else if (document.getElementById("early").value == "on") {
                    user["time-of-day"] = "E";
                }
                else {
                    user["time-of-day"] = "L";
                }
                console.log("user" + JSON.stringify(user));
                post('/user', user, 'get');
                console.log("Looking data stored")
            };

            function submitData() {
                let user = {
                    "name": document.getElementById("userName").value,
                    "userstate": 0,
                    "imgurl": "",
                    "email": document.getElementById("email").value,
                    "address": document.getElementById("address").value,
                    "zip": document.getElementById("zip").value,
                    "roomsize": "",
                    "gender": "",
                    "rent": document.getElementById("rent").value,
                    "ownBath": document.getElementById("ownBath").checked,
                    "AC": document.getElementById("AC").checked,
                    "heating": document.getElementById("heating").checked,
                    "laundry": document.getElementById("laundry").checked,
                    "parking": document.getElementById("parking").checked,
                    "pets": document.getElementById("pets").checked,
                    "bus": document.getElementById("busStop").checked,
                    "gym": document.getElementById("gym").checked,
                    "pool": document.getElementById("pool").checked,
                    "otherapartmentNotes": document.getElementById("apartmentFeatures").value,
                    "timeofday": "",
                    "smokersetting": document.getElementById("smoker").checked,
                    "cleanliness": document.getElementById("cleanness").value,
                    "other-roommateNotes": document.getElementById("roommatePreference").value
                }
                // check the room size
                if (localStorage.getItem('img') != null) {
                    let img = localStorage.getItem('img');
                    user["imgurl"] = img;
                }
                if (document.getElementById("livingRoom").checked) {
                    user["roomsize"] = "livingRoom";
                }
                else if (document.getElementById("singleRoom").checked) {
                    user["roomsize"] = "single";
                }
                else {
                    user["roomsize"] = "double";
                }
                // the Gender M, F, C
                if (document.getElementById("male").checked) {
                    user["gender"] = "M";
                }
                else if (document.getElementById("female").checked) {
                    user["gender"] = "F";
                }
                else {
                    user["gender"] = "C";
                }
                // the time N, E, L
                if (document.getElementById("late").checked) {
                    user["timeofday"] = "N";
                }
                else if (document.getElementById("early").checked) {
                    user["timeofday"] = "E";
                }
                else {
                    user["timeofday"] = "L";
                }
                console.log("user" + JSON.stringify(user));
                //  var data = JSON.stringify(user);

                post('/user', user, 'get');
                console.log("Offering data stored");
            };

        </script>
</body>
{{!-- javascript --}}
<script src="https://code.jquery.com/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>

</html>