<html>

<head>
	<title>Home</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	{{!--
	<link href="/css/introHCI.css" rel="stylesheet"> --}}
</head>

<body>
	{{!-- Top Title --}}
	<div id="topTitle" class="top">
		<a href="/"> <b>Find a Roommate</b> </a>
		<hr style="height:1px;border:none;color:#333;background-color:#333;">
	</div>
	{{!-- <hr style="height:1px;border:none;color:#333;background-color:#333;"> --}}
	{{!-- end of top title --}}
	<div class="container">
		{{!-- Search Bar --}}
		<div class="searchbar" id="search">
			<div class="">
				<div class="search">
					<div>
						<input type="text" class="searchTerm" name="search"
							placeholder="Search Area...">
						<a href="/results">
							<button type="submit" class="searchButton">
								<i class="fa fa-search"></i>
								{{!-- Search --}}
							</button>
						</a>
					</div>
					<div style="" class="row startingDateRow">
						<div>
							Starting Date:
							<input style="" type="date" class="startDate"
								name="date">
							<button class="accordion">
								Preferences</button>

							<div class="panel">
								<p>Pick more options</p>
								<label class="checkboxContainer">Living room
									<input type="checkbox">
									<span class="checkmark"></span>
								</label>

								<label class="checkboxContainer">Single
									<input type="checkbox" checked="checked">
									<span class="checkmark"></span>
								</label>

								<label class="checkboxContainer">Double
									<input type="checkbox">
									<span class="checkmark"></span>
								</label>

								<label class="checkboxContainer">Triple
									<input type="checkbox">
									<span class="checkmark"></span>
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{{!-- End of Search Bar --}}
		<br />
		{{!-- Start of apartments --}}
		<div class="row" style="margin-top:10px">
			{{!-- <a href="/results"> --}}
			<div class="col-xs-2" style="background-color:black;">
				<p style="color:aqua">
					picture of person
				</p>
			</div>
			{{!-- style="border:3px;border-style:solid" --}}
			<div class="col-xs-10">
				<div id="myCarousel" class="carousel slide"
					data-ride="carousel">
					<!-- Indicators -->
					<ol class="carousel-indicators">
						<li data-target="#myCarousel" data-slide-to="0"
							class="active"></li>
						<li data-target="#myCarousel" data-slide-to="1"></li>
						<li data-target="#myCarousel" data-slide-to="2"></li>
					</ol>
					<div class="carousel-inner">
						<div class="item active">
							<a href="/profile">
								<img class="picHouse"
									src="https://cdn.houseplans.com/product/o2d2ui14afb1sov3cnslpummre/w1024.jpg?v=15&fbclid=IwAR0CrvFqX3hdIS3-P-I843cO0bNS2XKjg8fbrHBF_khIG-PmKCczs7Rkglo">
							</a>
						</div>
						<div class="item">
							<a href="/profile">
								<img class="picHouse"
									src="images/apartment2.jpg">
							</a>
						</div>
					</div>
					<!-- Next and previous buttons -->
					<a class="left carousel-control" href="#myCarousel"
						data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left"></span>
						<span class="sr-only"></span>
					</a>
					<a class="right carousel-control" href="#myCarousel"
						data-slide="next">
						<span class="glyphicon glyphicon-chevron-right"></span>
						<span class="sr-only"></span>
					</a>
				</div>
			</div>
		</div>
		<div class="row" style="margin-top:10px">
			<div class="col-xs-2" style="background-color: black;">
				<a href="/profile">
					<p>
						picture of person
					</p>
				</a>
			</div>
			<a href="/profile">
				<div class="col-xs-10" style="border:3px;border-style:solid">
					<img class="picHouse"
						src="https://images.pexels.com/photos/439391/pexels-photo-439391.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
				</div>
			</a>
		</div>
	</div>
</body>
{{!-- javascript --}}
<script src="https://code.jquery.com/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script
	src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>

<script>
	var acc = document.getElementsByClassName("accordion");
	var i;

	for (i = 0; i < acc.length; i++) {
		acc[i].addEventListener("click", function () {
			/* Toggle between adding and removing the "active" class,
			to highlight the button that controls the panel */
			this.classList.toggle("active");
			/* Toggle between hiding and showing the active panel */
			var panel = this.nextElementSibling;
			if (panel.style.display === "block") {
				panel.style.display = "none";
			} else {
				panel.style.display = "block";
			}
		});
	}
</script>

</html>