<html>

<head>
	<title>results</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="../css/bootstrap.min.css" rel="stylesheet">
	<link href="../css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="../css/main.css" rel="stylesheet">
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	{{!--
	<link href="/css/introHCI.css" rel="stylesheet"> --}}
</head>

<body>
	{{!-- Top Title --}}
	<div id="topTitle" class="top">
		<a href="/"> <b>Find a Roommate</b> </a>
		<hr style="height:1px;border:none;color:#333;background-color:#333;">
	</div>
	{{!-- <hr style="height:1px;border:none;color:#333;background-color:#333;"> --}}
	{{!-- end of top title --}}
	{{!-- login --}}

</body>
{{!-- javascript --}}
<script src="https://code.jquery.com/jquery.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/slides.js"></script>
<script src="../js/accordian.js"></script>
<script>
	showSlides(1);
</script>


</html>