<html>

<head>
	<title>Login</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="../css/bootstrap.min.css" rel="stylesheet">
	<link href="../css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="../css/main.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta name="google-signin-scope" content="profile email">
	{{!-- <meta name="google-signin-client_id"
		content="519007915746-m0l845vmot8vj2lin1j167ifu5lslmcj.apps.googleusercontent.com"> --}}
	<meta name="google-signin-client_id"
		content="519007915746-9ujr3t866k76vt0kr2sk5uoi3q0v8d8a.apps.googleusercontent.com">

	{{> facebook}}
	<script src="/js/facebook.js"></script>
	<script src="https://apis.google.com/js/platform.js" async defer></script>

	<script>
		window.fbAsyncInit = function () {
			FB.init({
				appId: '352041492055393',
				autoLogAppEvents: true,
				xfbml: true,
				version: 'v3.2'
			});
		};
	</script>
	<script async defer src="https://connect.facebook.net/en_US/sdk.js"></script>
</head>

<body style="background-color:#E4F0E6;text-align:center">
	<div id="fb-root"></div>
	<script async defer crossorigin="anonymous"
		src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2&appId=352041492055393&autoLogAppEvents=1"></script>
	<script>
		// This is called with the results from from FB.getLoginStatus().
		function statusChangeCallback(response) {
			console.log('statusChangeCallback');
			console.log(response);
			// The response object is returned with a status field that lets the
			// app know the current login status of the person.
			// Full docs on the response object can be found in the documentation
			// for FB.getLoginStatus().
			if (response.status === 'connected') {
				// Logged into your app and Facebook.
				testAPI();
			} else {
				// The person is not logged into your app or we are unable to tell.
				document.getElementById('status').innerHTML = 'Please log ' +
					'into this app.';
			}
		}

		// This function is called when someone finishes with the Login
		// Button.  See the onlogin handler attached to it in the sample
		// code below.
		function checkLoginState() {
			FB.getLoginStatus(function (response) {
				statusChangeCallback(response);
			});
		}

		window.fbAsyncInit = function () {
			FB.init({
				appId: '352041492055393',
				cookie: true,  // enable cookies to allow the server to access 
				// the session
				xfbml: true,  // parse social plugins on this page
				version: 'v3.2' // The Graph API version to use for the call
			});
			// Now that we've initialized the JavaScript SDK, we call 
			// FB.getLoginStatus().  This function gets the state of the
			// person visiting this page and can return one of three states to
			// the callback you provide.  They can be:
			//
			// 1. Logged into your app ('connected')
			// 2. Logged into Facebook, but not your app ('not_authorized')
			// 3. Not logged into Facebook and can't tell if they are logged into
			//    your app or not.
			//
			// These three cases are handled in the callback function.
			FB.getLoginStatus(function (response) {
				statusChangeCallback(response);
			});
		};

		// Load the SDK asynchronously
		(function (d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "https://connect.facebook.net/en_US/sdk.js";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));

		// Here we run a very simple test of the Graph API after login is
		// successful.  See statusChangeCallback() for when this call is made.
		function testAPI() {
			console.log('Welcome!  Fetching your information.... ');
			FB.api('/me', function (response) {
				console.log('Successful login for: ' + response.name);
				document.getElementById('status').innerHTML =
					'Thanks for logging in, ' + response.name + '!';
			});
		}
	</script>
	<header>
		<div class="nav-container">
			<!-- INSERT LOGO/IMAGE HERE -->
		</div>
	</header>
	<div style="margin-top: 50%">
		<h2>FindARoommate</h2>
	</div>
	{{!-- <div class="row"> --}}
	{{!-- <div id="fb-signin">
				<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
				</fb:login-button>
			</div> --}}
	<div style="margin: auto;
  width: 50%;
  padding: 10px;">
		<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
		</fb:login-button>
		<hr>
		<div class="fb-login-button" data-size="large" data-button-type="login_with" data-auto-logout-link="true"
			data-use-continue-as="true"></div>

		<div class="g-signin2" data-width="193" data-longtitle="true" data-theme="dark" style="text-align:center;"
			data-onsuccess="onSignIn">
		</div>
	</div>
	</div>
	{{!-- </div> --}}
	{{!-- <a href="/" onclick="signOut();">Sign out GOOGLE</a> --}}
	<div>
		<div class="schoolEmail">Sign in with your school email <br />to find
			schoolmates</div>
	</div>
	{{!-- javascript --}}
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script src="../js/accordian.js"></script>
	<script src="../js/google.js"></script>
	<script>
	</script>

</body>


</html>