<html>

<head>
	<title>Login</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="../css/bootstrap.min.css" rel="stylesheet">
	<link href="../css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="../css/main.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta name="google-signin-scope" content="profile email">
	{{!-- <meta name="google-signin-client_id"
		content="519007915746-m0l845vmot8vj2lin1j167ifu5lslmcj.apps.googleusercontent.com"> --}}
	<meta name="google-signin-client_id"
		content="519007915746-9ujr3t866k76vt0kr2sk5uoi3q0v8d8a.apps.googleusercontent.com">

	{{> facebook}}
	<script src="/js/facebook.js"></script>
	<script src="https://apis.google.com/js/platform.js" async defer></script>

	<script>
		window.fbAsyncInit = function () {
			FB.init({
				appId: '352041492055393',
				autoLogAppEvents: true,
				xfbml: true,
				version: 'v3.2'
			});
		};
	</script>
	<script async defer src="https://connect.facebook.net/en_US/sdk.js"></script>
</head>

<body style="background-color:#E4F0E6;text-align:center">
	<div id="fb-root"></div>
	<script src="https://connect.facebook.net/en_US/sdk.js"></script>
	<script>
		FB.init({
			appId: 352041492055393,
			status: true,
			xfbml: true,
			version: 'v3.2'
		});
		FB.AppEvents.logPageView();
	</script>
	<header>
		<div class="nav-container">
			<!-- INSERT LOGO/IMAGE HERE -->
		</div>
	</header>
	<div style="margin-top: 50%">
		<h2>FindARoommate</h2>
	</div>
	{{!-- <div class="row"> --}}
	{{!-- <div id="fb-signin">
				<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
				</fb:login-button>
			</div> --}}
	<div style="margin: auto;
  width: 50%;
  padding: 10px;">
		<div data-size="large" data-button-type="continue_with" data-auto-logout-link="false"
			data-use-continue-as="false" class="fb-login-button fb_iframe_widget" login_text=""
			fb-xfbml-state="rendered"
			fb-iframe-plugin-query="app_id=352041492055393&amp;auto_logout_link=false&amp;button_type=continue_with&amp;container_width=734&amp;locale=en_US&amp;sdk=joey&amp;size=large&amp;use_continue_as=false">
			<span style="vertical-align: bottom; width: 254px; height: 40px;"><iframe name="f2016527e2e2808"
					width="1000px" height="1000px" frameborder="0" allowtransparency="true" allowfullscreen="true"
					scrolling="no" allow="encrypted-media" title="fb:login_button Facebook Social Plugin"
					src="https://www.facebook.com/v3.2/plugins/login_button.php?app_id=113869198637480&amp;auto_logout_link=false&amp;button_type=continue_with&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2Fm5nTkygCewO.js%3Fversion%3D44%23cb%3Dfb9d278adb755c%26domain%3Ddevelopers.facebook.com%26origin%3Dhttps%253A%252F%252Fdevelopers.facebook.com%252Ff13c853d3f6e8ec%26relation%3Dparent.parent&amp;container_width=734&amp;locale=en_US&amp;sdk=joey&amp;size=large&amp;use_continue_as=false"
					style="border: none; visibility: visible; width: 254px; height: 40px;" class=""></iframe></span>
		</div>
		<div class="g-signin2" data-width="193" data-longtitle="true" data-theme="dark" style="text-align:center;"
			data-onsuccess="onSignIn">
		</div>
	</div>
	</div>
	{{!-- </div> --}}
	{{!-- <a href="/" onclick="signOut();">Sign out GOOGLE</a> --}}
	<div>
		<div class="schoolEmail">Sign in with your school email <br />to find
			schoolmates</div>
	</div>
	{{!-- javascript --}}
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script src="../js/accordian.js"></script>
	<script src="../js/google.js"></script>
	<script>
	</script>

</body>


</html>