<html>

<head>
	<title>Login</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="../css/bootstrap.min.css" rel="stylesheet">
	<link href="../css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="../css/main.css" rel="stylesheet">
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	{{!--
	<link href="/css/introHCI.css" rel="stylesheet"> --}}
	<meta name="google-signin-scope" content="profile email">
	<meta name="google-signin-client_id"
		content="519007915746-m0l845vmot8vj2lin1j167ifu5lslmcj.apps.googleusercontent.com">

	<script src="https://apis.google.com/js/platform.js" async defer></script>
</head>

<body style="background-color:#E4F0E6;text-align:center">
	<header>
<<<<<<< HEAD
		<div class ="nav-container">
=======
		<div class="nav-container">

>>>>>>> d8e73528d548e234f0eba9a7a2089457a180f785
			<!-- INSERT LOGO/IMAGE HERE -->
		</div>
	</header>
		<div>
			<h2>Find a Roommate</h2>
		</div>
		{{!-- <a href="/auth/facebook">Login with Facebook</a> --}}

<<<<<<< HEAD
		<div class="g-signin2"  data-theme="dark" style="text-align:center;">
			data-onsuccess="onSignIn" 
=======
		<div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"
			style="text-align:center;">
>>>>>>> d8e73528d548e234f0eba9a7a2089457a180f785
		</div>
		<a href="/login" onclick="signOut();">Sign out GOOGLE TEST</a>
		<div>
			<schoolEmail>Sign in with your school email <br />to find
				schoolmates</schoolEmail>
		</div>
</body>

{{!-- javascript --}}
<script>
	
</script>
<script>
	function signOut() {
		var auth2 = gapi.auth2.getAuthInstance();
		auth2.signOut().then(function () {
			console.log('User signed out.');
		});
	}

</script>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/accordian.js"></script>
<script src="../js/google.js"></script>

</html>