<html>

<head>
	<title>login</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="../css/bootstrap.min.css" rel="stylesheet">
	<link href="../css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="../css/main.css" rel="stylesheet">
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	{{!--
	<link href="/css/introHCI.css" rel="stylesheet"> --}}
	<meta name="google-signin-scope" content="profile email">
	<meta name="google-signin-client_id"
		content="519007915746-m0l845vmot8vj2lin1j167ifu5lslmcj.apps.googleusercontent.com">

	<script src="https://apis.google.com/js/platform.js" async defer></script>
</head>

<body>
	<div id="login">
		<div>
			<loginHeader>Find a Roommate</loginHeader>
		</div>
		{{!-- <a href="/auth/facebook">Login with Facebook</a> --}}

		<div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark">
		</div>
		<a href="#" onclick="signOut();">Sign out GOOGLE TEST</a>
		<div>
			<schoolEmail>Sign in with your school email <br />to find
				schoolmates</schoolEmail>
		</div>
	</div>
</body>

{{!-- javascript --}}
<script>
	function onSignIn(googleUser) {
		// Useful data for your client-side scripts:
		var profile = googleUser.getBasicProfile();
		console.log("ID: " + profile.getId()); // Don't send this directly to your server!
		console.log('Full Name: ' + profile.getName());
		console.log('Given Name: ' + profile.getGivenName());
		console.log('Family Name: ' + profile.getFamilyName());
		console.log("Image URL: " + profile.getImageUrl());
		console.log("Email: " + profile.getEmail());

		// The ID token you need to pass to your backend:
		var id_token = googleUser.getAuthResponse().id_token;
		console.log("ID Token: " + id_token);
	}
</script>
<script>
	function signOut() {
		var auth2 = gapi.auth2.getAuthInstance();
		auth2.signOut().then(function () {
			console.log('User signed out.');
		});
	}
</script>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/accordian.js"></script>

</html>