<html>

<head>
	<title>Login</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="../css/bootstrap.min.css" rel="stylesheet">
	<link href="../css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="../css/main.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta name="google-signin-scope" content="profile email">
	{{!-- <meta name="google-signin-client_id"
		content="519007915746-m0l845vmot8vj2lin1j167ifu5lslmcj.apps.googleusercontent.com"> --}}
	<meta name="google-signin-client_id"
		content="519007915746-9ujr3t866k76vt0kr2sk5uoi3q0v8d8a.apps.googleusercontent.com">

	{{> facebook}}
	<script src="/js/facebook.js"></script>
	<script src="https://apis.google.com/js/platform.js" async defer></script>
</head>

<body style="background-color:#E4F0E6;text-align:center">
	<header>
		<div class="nav-container">
			<!-- INSERT LOGO/IMAGE HERE -->
		</div>
	</header>
	<div style="margin-top: 50%">
		<h2>FindARoommate</h2>
	</div>

	<div class="row">
		<div class="col-xs-9" style="margin-right: 35%">
		</div>
		<div class="col-xs-3">
			<div id="fb-signin">
				<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
				</fb:login-button>
			</div>
			<div class="g-signin2" data-theme="dark" style="text-align:center;" data-onsuccess="onSignIn">
			</div>
		</div>
	</div>
	{{!-- <a href="/" onclick="signOut();">Sign out GOOGLE</a> --}}
	<div>
		<div class="schoolEmail">Sign in with your school email <br />to find
			schoolmates</div>
	</div>
	{{!-- javascript --}}
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script src="../js/accordian.js"></script>
	<script src="../js/google.js"></script>
	<script>
	</script>

</body>


</html>