<html>

<head>
	<title>results</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="../css/bootstrap.min.css" rel="stylesheet">
	<link href="../css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="../css/main.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	{{!--
	<link href="/css/introHCI.css" rel="stylesheet"> --}}
</head>

<body>
	<div id="topTitle" class="top">
		<a href="/" style="color: black"> Find a Roommate </a>
	</div>
	<div class="container">
		{{!-- Search Bar --}}
		<div class="searchbar" id="search">
			<div class="">
				<div class="search">
					<input style="width:80%;border-style: ridge;" type="text" class="searchTerm"
					 name="search" placeholder="Search Area...">
					<button style="width:15%;" type="submit" class="searchButton">
						<i class="fa fa-search"></i>
					</button>
					<br />
					<div style="margin-top:auto;" class="row">
						<div>
							Starting Date:
							<input style="border-style: ridge;" type="date" class="searchTerm" name="date">
							<button class="accordion">
								Preferences</button>
						</div>
						<div class="panel">

						</div>
					</div>
				</div>
			</div>
		</div>
		{{!-- End of Search Bar --}}

		{{!-- Start of "Showing Results" and "back" --}}
		<div>
			<p> Showing Results <p>
					<a href="/">
						<button class="backButton">
							Back
						</button>
					</a>
		</div>
		{{!-- End of "Showing Results" and "back" --}}

		{{!-- Start of apartments --}}
		<div class="row" style="margin-top:10px">
			<div class="col-xs-2" style="background-color: #eee;">
				<a href="/profile">
					<p>
						picture of person
					</p>

			</div>
			<div class="col-xs-10" style="border:3px;border-style:solid">
				<img class="picHouse" src="https://images.pexels.com/photos/439391/pexels-photo-439391.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
			</div>
			</a>
		</div>
	</div>
</body>
{{!-- javascript --}}
<script src="https://code.jquery.com/jquery.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/slides.js"></script>
<script src="../js/accordian.js"></script>
<script>
	showSlides(1);
</script>


</html>