<html>

<head>
	<title>Settings</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="../css/bootstrap.min.css" rel="stylesheet">
	<link href="../css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="../css/main.css" rel="stylesheet">
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta name="google-signin-scope" content="profile email">
	{{!-- <meta name="google-signin-client_id"
			content="519007915746-m0l845vmot8vj2lin1j167ifu5lslmcj.apps.googleusercontent.com"> --}}
	<meta name="google-signin-client_id"
		content="519007915746-9ujr3t866k76vt0kr2sk5uoi3q0v8d8a.apps.googleusercontent.com">

	{{> facebook}}
	<script src="/js/facebook.js"></script>
	<script src="https://apis.google.com/js/platform.js" async defer></script>
</head>

<body>
	<header>
		<div class="nav-container">

			<!-- INSERT LOGO/IMAGE HERE -->
			<h2>FindARoommate</h2>
			<nav>
				<ul>
					<li><a href="/index">Home</a></li>
					<li><a href="/user">My Profile</a></li>
					<li><a href="/settings">Settings</a></li>
					<!-- PLACEHOLDER LINK FOR SETTINGS PAGE (change '#' to '/settings') -->
				</ul>
			</nav>
		</div>
	</header>

	<h2>Settings</h2>

	<div class="btn-container">
		<h5>
			<div class="edit-profile_btn">
				<a href="/">Login</a>
			</div>
			<hr>
			</hr>
			<div class="edit-profile_btn">
				<a href="/createProfile">Edit Profile
				</a>
			</div>
			<hr>
			</hr>
			<div class="edit-profile_btn">
				<a href="/" onclick="signOutTest();">Sign out GOOGLE</a>
			</div>
		</h5>
	</div>
	{{!-- javascript --}}
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script>
		//editProfileSetup()
		//function editProfileSetup() {
		//	console.log("reeeeee")
		//	localStorage.setItem('editProfile', true);
		//	//window.location.href = "/createProfile";
		//}
	</script>
	<script src="../js/accordian.js"></script>
	<script src="../js/google.js"></script>
	<script src="https://apis.google.com/js/platform.js?onload=onLoad" async
		defer></script>
	<script>
		function signOutTest() {
			var auth2 = gapi.auth2.getAuthInstance();
			auth2.signOut().then(function () {
				console.log('User signed out.');
			});
		}
		onLoad()
		function onLoad() {
			gapi.load('auth2', function () {
				gapi.auth2.init();
			});
		}
	</script>
</body>


</html>