<html>

<head>
	<title>User</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="../css/bootstrap.min.css" rel="stylesheet">
	<link href="../css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="../css/main.css" rel="stylesheet">
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	{{!--
	<link href="/css/introHCI.css" rel="stylesheet"> --}}
</head>

<body>
	<header>
		<div class ="nav-container">

			<!-- INSERT LOGO/IMAGE HERE -->
			<h2>FindARoommate</h2>
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/user">My Profile</a></li>
					<li><a href="/settings">Settings</a></li> <!-- PLACEHOLDER LINK FOR SETTINGS PAGE (change '#' to '/settings') -->
				</ul>
			</nav>
		</div>
	</header>

<div class="user_body">
	<div class="btn-container">
		<div class="edit-profile_btn">
			<h5><a href="/createProfile">Edit Profile</a></h5>
		</div>
	</div>	
	{{#each user}}
	<ul>
		{{!-- <div class="user_li"> --}}
		<li><img class="picPerson" src={{img_url}}></li>
		<li>{{fullname}}</li>
		{{!-- </div> --}}
		<!-- INSERT USER IMAGE HERE -->
		<li>Offering/Searching</li>
		<div class="preference_deets">
			<li>Preferences
				<p>
					Insert list of preferences
					<!--<ul>
						ADD LIST OF PREFERENCES
					</ul>-->
				</p>
			</li>
		</div>
		<li>Description</li>
		<li>{{email}}</li>
	</ul>
	{{/each}}

</div>

	
</body>
{{!-- javascript --}}
<script src="https://code.jquery.com/jquery.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/slides.js"></script>
<script src="../js/accordian.js"></script>
{{!-- <script>
	showSlides(1);
</script> --}}


</html>