 /* Commonly Used CSS*/
 .backButton {
    border: 3px;
    border-style: solid;
    background-color: #AFAFAF;
 }
 .container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.col-xs-2 {
  height:50px;
  display:inline-block;
}

.lh-condensed { line-height: 1.25; }

.top a {
    text-align: center;
    color: black; 
    font-size: 2em
}
.top {
    /* position: fixed; */
    width: 100%;
    text-align: center;
    padding-top: 1em;
}
.personBox{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: auto;
}
.searchbar{
    width:100%;
    /* margin-top: 1.5em; */
}
.accordion {
  background-color: rgb(196, 129, 28);
  color: #444;
  cursor: pointer;
  padding: 10px;
  /* width: 100%; */
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  border-radius:10px;
}

.active, .accordion:hover {
  background-color: #ccc;
}
/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.g-signin2 {
  text-align:center;
  /* margin-top:40px; */
  align-content: center;
  align-items: center;
  align-self: center;
}
#login {
  text-align:center;
  margin-top:40px;
  align-content: center;
  align-items: center;
  align-self: center;
}
.picPerson{
    max-height: 250px; 
    max-width: 250px; 
    object-fit: contain;
}
.picHouse{
    max-height: 100%; 
    max-width: 100%; 
    object-fit: contain;
}

.jumbotron {
	position: relative;
	background: none;
}

.jumbotron:after {
     content:"";
     background: url("");
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;	
}

.jumbotron p {
     color: #6e6e6e;
}

.project a {
     text-align: center;
}

/* start of search bar css */
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  margin:0;
  background: white;
  font-family: 'Open Sans', sans-serif;
}

.search {
  margin-top:20px;
  margin-right:20px;
  width: 100%;
  /* position: relative */
}

.searchTerm {
  /* float: left; */
  width: 80%;
  /* border: 3px solid #00B4CC; */
  border: 2px solid;
  padding: 5px;
  height: auto;
  border-radius: 10px;
  outline: none;
  margin-left: 1em;
  /* text-align: center */
  /* color: #9DBFAF; */
}
.startDate {
  /* float:left; */
  /* width: 70%; */
  /* border: 3px solid #00B4CC; */
  border: 2px solid;
  padding: 5px;
  height: 20px;
  border-radius: 10px;
  outline: none;
  padding-top:15px;
  padding-bottom: 15px;
  /* color: #9DBFAF; */
  width:110px;
  font-size:11px;
  background-color:rgba(255, 255, 255, 0.507);
}

.startingDateRow{
  display:inline-block;
  margin-top: 1em;
  margin-left: 1em;
  padding: 5px;
  height: 20px;
  border-radius: 10px;
  outline: none;
  
  /* text-align: center; */
}

.searchTerm:focus{
  color: black;
}

.searchButton {
  position: absolute;  
  /* right: -50px; */
  width: 52px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  margin-left:5px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* end of search bar css */

/* checkbox css */

/* Customize the label (the container) */
.checkboxContainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-container {
  padding-top:20px;
  background-color: grey;
  text-align:center;
  text-decoration:none;
  padding-bottom:20px;
}

.edit-profile-btn {
  padding-top:20px;
  text-align:center;
  padding-bottom:20px;

}

.col-xs-6 {
  /* margin-top:10px; */
  /* margin-left:20px; */
  /* margin-right:20px; */
  justify-content: center;
  background-color:grey;
  
}

.col-xs-6 p {
  margin-top:10px;
  margin-left:20px;
  margin-right:20px;
  
}

.col-xs-6-h h5 {
  margin-top:40px;
  margin-left:35px;

}
/* Hide the browser's default checkbox */
.checkboxContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkboxContainer:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkboxContainer input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkboxContainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkboxContainer .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#login {
  background-color: rgba(228,240,230,1);
}
.loginHeader {
  left: 12px;
  top: 132px;
  box-sizing: border-box;
  width: 353px;
  text-align: center;
  font-family: PT Serif Caption;
  font-size: 40px;
  color: rgba(112,112,112,1);
  }
.schoolEmail {
    left: 51px;
    top: 529px;
    box-sizing: border-box;
    width: 275px;
    text-align: center;
    font-family: PT Serif;
    font-size: 20px;
    color: rgba(112,112,112,1);
  }

/* end of checkbox */

/* start of map.google */
#map{
  height:400px;
  width: 100%;
}
.mapouter {
	text-align: right;
	height: 500px;
	width: 100%;
}
			
.gmap_canvas {
	overflow: hidden;
	background: none !important;
	height: 500px;
	width: 100%;
}
/* end of maps.google */

/* BEGINNING OF NAVBAR */
.nav-container {
  width:100%;
  margin:0 auto;
  align-content: center;
}

.nav-container h2 {
  /* margin-top:20px; */
  /* margin-left:20px; */
  margin-top:0px;
  margin-bottom:0px;
  text-align: center;
  padding-top:20px;
  font-weight:bold;
}


header {
  background-color:#E4F0E6;/*#07dab6;  or other color */
}

header::after {
  content:'';
  display: table;
  clear:both;
}

nav {
  text-align: center;
  text-decoration: none;
}

nav ul {
  margin:0;
  padding:0;
  list-style:none;
  align-content: center;
  align-items: center;
  text-align: center;
}

nav li {
  width:30%;
  /* font-weight: bold; */
  display:inline-block;
  /* margin-left:50px; */
  padding-top:20px;
  padding-bottom:20px;
  /* padding-right:20px; */
  /* padding-left:20px; */

  position:relative;
  text-decoration: none;
  text-align:center;
}

nav a {
  color:#374144;
  text-decoration:none;
  align-content: center;
  text-align: center;
  align-items: center;
}

nav a:hover {
  color:#374144;
  text-decoration:none;
  text-align:center;
}

nav a::before {
  content: "";
  display: block;
  height: 5px;
  background-color: #374144 ;
  text-align:center;
  position: absolute;
  bottom:0;
  width: 0%;

  transition: all ease-in-out 200ms;
}

nav a:hover::before {
  width:100%;
  text-align:center;
}

.user_body ul {
  list-style: none;
  padding-left:0;
}
.user_body li {
  
  margin-top:0px;
  /* margin-left:25%; */
  padding-top:40px;
  padding-bottom:40px;
  width:100%;
  background-color:rgb(250, 250, 250);
  text-align: center;
}

h2 {
  text-align:center;
  margin-top:20px;
  font-weight:bold;
  /* font-size:16pt; */
}
