 /* Commonly Used CSS*/

@font-face {
  font-family: 'antipasto';
  src: url('../fonts/gravity_light.otf');
}

*{
  font-family: 'antipasto';
  font-size:16px;
}
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}


.imageBelow
	{
		position: relative;
		top: 0;
		left: 0;
	}
	.imageAbove
	{
		position: absolute;
		top: 5px;
		left: 5px;
  }
  
.box {
  display: block;
  min-width: 300px;
  height: 300px;
  margin: 10px;
  margin-left:0px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;
}

.upload-options {
  position: relative;
  height: 75px;
  background-color: cadetblue;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  -webkit-transition: background-color ease-in-out 150ms;
  transition: background-color ease-in-out 150ms;
}
.upload-options:hover {
  background-color: #7fb1b3;
}
.upload-options input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.upload-options label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
}
.upload-options label::after {
  content: 'add';
  font-family: 'Material Icons';
  position: absolute;
  font-size: 2.5rem;
  color: #e6e6e6;
  top: calc(50% - 2.5rem);
  left: calc(50% - 1.25rem);
  z-index: 0;
}
.upload-options label span {
  display: inline-block;
  width: 50%;
  height: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
  text-align: center;
}
.upload-options label span:hover i.material-icons {
  color: lightgray;
}

.js--image-preview {
  height: 225px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-image: url("");
  background-color: white;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.js--image-preview::after {
  content: "photo_size_select_actual";
  font-family: 'Material Icons';
  position: relative;
  font-size: 4.5em;
  color: #e6e6e6;
  top: calc(50% - 3rem);
  left: calc(50% - 2.25rem);
  z-index: 0;
}
.js--image-preview.js--no-default::after {
  display: none;
}

i.material-icons {
  -webkit-transition: color 100ms ease-in-out;
  transition: color 100ms ease-in-out;
  font-size: 2.25em;
  line-height: 55px;
  color: white;
  display: block;
}

.drop {
  display: block;
  position: absolute;
  background: rgba(95, 158, 160, 0.2);
  border-radius: 100%;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.animate {
  -webkit-animation: ripple 0.4s linear;
          animation: ripple 0.4s linear;
}

@-webkit-keyframes ripple {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
  }
}

@keyframes ripple {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
  }
}

.result-details {
  margin-left:10px;
}
.result-details h4 {
  color:black;
}

.result-details h5 {
  color:grey;
}

.result-details h6 {
  color:grey;
}

.col-3 h4 {
  font-size:14px; 
  display:inline;
  text-decoration:none;
  color:black;
}

.col-3 h3 {
  font-size:14px;
  margin:5px;
  margin-left:0px;
  color:grey;
}

#apt-img {
  width:100%; 
  margin-bottom:10px;
  border-radius:20px;
  max-height:250px;
}

#apt-img-2 {
  width:100%; 
  margin-bottom:10px;
  border-radius:20px 20px 0px 0px;
  max-height:250px;
}

 .backButton {
    border: 3px;
    border-style: solid;
    background-color: #AFAFAF;
 }
 .container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container-prof{
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid rgb(187, 187, 187);
  border-radius:10px;
  margin-bottom:10px;
  margin-top:10px;
  /* padding:10px; */
}

.container-prof-2 {
  align-self:center;
  border: 1px solid rgb(187, 187, 187);
  border-radius:20px;
  margin-bottom:10px;
  margin-top:10px;
}
.container-prof h4 {
  margin-top:10px;
}

.user-details {
  background-color: white;
  /* text-align: center; */
}
.highlight-red{
  border-color: #ff0000;
  color: #ff0000;
}
.highlight-green{
  border-color: #15ff00;
  color: #15ff00;
}
.Input-container {
    position: relative;
}
.Input-container-addon {
    position: absolute;
    bottom: 0;
    height: 100%;
    padding: 13.5px;
}

#name_header {
  display:inline-flex;
  padding:10px;
  margin-left:15px;
}

#state_header {
  margin-top:10px;
  display:flex;
  padding-bottom:10px;
  margin-bottom:0px;
  margin-left:35px;

}

#desc-header {
  padding-bottom:10px;
  margin-left: 35px
}

.col-9 img{
  margin-bottom:10px;
}
#email-header {
  display:flex;
  padding-bottom:10px;
  margin-bottom:0px;
  margin-left:35px;
}
.col-xs-2 {
  height:50px;
  display:inline-block;
}

#prefs-head {
  font-weight:bold;
  text-align:center;
  background-color:rgb(200, 200, 200);
  font-color:#E4F0E6;
  margin-bottom:0px;
  padding:5px;
}
.pref-grid-row {
  width:100%;
  /* background-color:rgb(230, 230, 230); */
  border: 1px solid rgb(230, 230, 230);
  border-radius:10px;
}


#tag {
  margin-bottom:0%;
  margin-left:35px;
  padding:5px;
  color:black;
}

.lh-condensed { line-height: 1.25; }

.top a {
    text-align: center;
    color: black; 
    font-size: 2em
}
.top {
    /* position: fixed; */
    width: 100%;
    text-align: center;
    padding-top: 1em;
}
.personBox{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: auto;
}
.searchbar{
    width:100%;
    margin-right:20px;
    /* margin-top: 1.5em; */
}
.accordion {
  background-color: #EDEDED;
  color: #444;
  cursor: pointer;
  padding: 10px;
  /* width: 100%; */
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  border-radius:10px;
}

.active, .accordion:hover {
  background-color: #ccc;
}
/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 18px;
  background-color: white;
  margin-left: 10%;
  display: none;
  overflow: hidden;
  z-index: 1000;
  position:absolute;
}

#g-signin2 {
  margin: auto;
  display: block;
  justify-content: center;
  text-align:center;
 /* margin-top:40px; */
  align-content: center;
  align-items: center;
  align-self: center;
}
#fb-signin {
  margin-bottom:20px; 
  margin-top:20px;
}

.fb-login-button {
  width:50%;
}
#login {
  text-align:center;
  margin-top:40px;
  align-content: center;
  align-items: center;
  align-self: center;
}
.picPerson{
    max-height: 250px; 
    max-width: 250px; 
    object-fit: contain;
    /* width:150px; */
    /* height:150px; */
    margin-left:35px;
    margin-top:20px;
    border-radius:50px;

}
.picHouse{
    max-height: 100%; 
    max-width: 100%; 
    object-fit: contain;
}

.jumbotron {
	position: relative;
	background: none;
}

.jumbotron:after {
     content:"";
     background: url("");
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;	
}

.jumbotron p {
     color: #6e6e6e;
}

.project a {
     text-align: center;
}

/* start of search bar css */
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  margin:0;
  background: white;
  font-family: 'Open Sans', sans-serif;
}


.searchTerm {
  /* float: left; */
  width: 80%;
  /* border: 3px solid #00B4CC; */
  border: 2px solid; 
  color:#EDEDED;
  padding: 5px;
  height: auto;
  border-radius: 10px;
  outline: none;
  margin-left: 1em;
  /* text-align: center */
  /* color: #9DBFAF; */
}

.searchTerm:focus{
  color: black;
}

.startDate {
  /* float:left; */
  /* width: 70%; */
  /* border: 3px solid #00B4CC; */
  border: 2px solid #EDEDED;
  color: grey;
  padding: 5px;
  height: 20px;
  border-radius: 10px;
  outline: none;
  padding-top:15px;
  padding-bottom: 15px;
  /* color: #9DBFAF; */
  width:110px;
  font-size:11px;
  background-color:white;
}

.startDate:focus{
  border-color:black;
}

/* .icon {
  height:10%;
  width:25%;
} */
.startingDateRow{
  display:inline-block;
  margin-top: 1em;
  margin-left: 1em;
  padding: 5px;
  height: 20px;
  border-radius: 10px;
  outline: none;
  
  /* text-align: center; */
}


.searchButton {
  position: absolute;  
  /* right: -50px; */
  width: 50px;
  height: 36px;
  border: 1px solid #EDEDED;
  background: #EDEDED;
  text-align: center;
  color: grey;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  margin-left:0px;
}

.searchButton:focus{
  background: #ccc;
  /*color: white;*/
}
/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* end of search bar css */

/* checkbox css */

/* Customize the label (the container) */
.checkboxContainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.btn-container {
  padding-top:20px;
  background-color: rgb(237, 237, 237);
  text-align:center;
  text-decoration:none;
  padding-bottom:20px;
}

.edit-profile-btn {
  padding-top:10px;
  text-align:center;
  padding-bottom:10px;

}

/* please don't change the core CSS from bootstrap */
/* .col-xs-6 { 
  margin-top:10px; 
   margin-left:20px; 
   margin-right:20px; 
  justify-content: center;
  background-color:grey;
  
}

.col-xs-6 p {
  margin-top:10px;
  margin-left:20px;
  margin-right:20px;
  
}
*/

.col-xs-6-h h5 {
  margin-top:40px;
  margin-left:35px;

} 

/* Hide the browser's default checkbox */
.checkboxContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.custom-control-label {
  margin-top:5px;
}
/* On mouse-over, add a grey background color */
.checkboxContainer:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkboxContainer input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkboxContainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkboxContainer .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.login {
  background: #E4F0E6;
}
.loginHeader {
  text-align: center;
  font-family: PT Serif Caption;
  font-size: 40px;
  color: rgba(112,112,112,1);
  }
.schoolEmail {
    text-align: center;
  /*  font-family: PT Serif; */
    margin-top: 20px;
    font-size: 12px;
    color: rgba(112,112,112,1);
  }


/* end of checkbox */

#map-container {
  width:100%;
  display:block;
  align-self:center;
  /* height:50%; */
}

#map-container h5 {
  font-size:16px;
  text-align:center;
  margin:0px;
  align-self:center;
  margin-left:0px;
  align-content: center;
  align-items:center;
  align-self: center;
}

.row {
  align-content: center;
  align-items:center;
  align-self: center;
  margin:0px;
}
.row h5 {
  font-size:16px;
  text-align:center;
  margin:0px;
  align-self:center;
  margin-left:0px;
}

/* start of map.google */
#map{  
  height:400px;
  width: 100%;
}
.mapouter {
	text-align: right;
	height: 500px;
	width: 100%;
}
			
.gmap_canvas {
	overflow: hidden;
	background: none !important;
	height: 500px;
	width: 100%;
}
/* end of maps.google */

/* BEGINNING OF NAVBAR */
.nav-container {
  width:100%;
  margin:0 auto;
  align-content: center;
}

.nav-container h2 {
  /* margin-top:20px; */
  /* margin-left:20px; */
  margin-top:0px;
  margin-bottom:0px;
  text-align: center;
  padding-top:20px;
  font-weight:bold;
}


header {
  background-color:#E4F0E6;/*#07dab6;  or other color */
}

header::after {
  content:'';
  display: table;
  clear:both;
}

nav {
  text-align: center;
  text-decoration: none;
}

nav ul {
  margin:0;
  padding:0;
  list-style:none;
  align-content: center;
  align-items: center;
  text-align: center;
}

nav li {
  width:19%;
  /* font-weight: bold; */
  display:inline-block;
  /* margin-left:50px; */
  padding-top:20px;
  padding-bottom:20px;
  /* padding-right:20px; */
  /* padding-left:20px; */

  position:relative;
  text-decoration: none;
  text-align:center;
}

nav a {
  color:#374144;
  text-decoration:none;
  align-content: center;
  text-align: center;
  align-items: center;
}

nav a:hover {
  color:#374144;
  text-decoration:none;
  text-align:center;
}

nav a::before {
  content: "";
  display: block;
  height: 5px;
  background-color: #374144 ;
  text-align:center;
  position: absolute;
  bottom:0;
  width: 0%;

  transition: all ease-in-out 200ms;
}
#profile-search-btn{
  text-align:center;
  background-color:rgb(237, 237, 237);;
  padding-top: 20px;
  padding-bottom: 20px; 
  text-decoration: none;
  color:grey;
}
nav a:hover::before {
  width:100%;
  text-align:center;
}

h2 {
  text-align:center;
  margin-top:20px;
  font-weight:bold;
  /* font-size:16pt; */
}

.incompleteErrorMsg {
  text-align:center;
  font-size: 12;
}
