 /* Commonly Used CSS*/
 .backButton {
    border: 3px;
    border-style: solid;
    background-color: #AFAFAF;
 }
 .container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.top a {
    text-align: center;
    color: black; 
    font-size: 2em
}
.top {
    /* position: fixed; */
    width: 100%;
    text-align: center;
    padding-top: 1em;
}
.personBox{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: auto;
}
.searchbar{
    width:100%;
    /* margin-top: 1.5em; */
}
.accordion {
  background-color: rgb(196, 129, 28);
  color: #444;
  cursor: pointer;
  padding: 10px;
  /* width: 100%; */
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}
/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.picPerson{
    max-height: 100%; 
    max-width: 100%; 
    object-fit: contain
}
.picHouse{
    max-height: 100%; 
    max-width: 100%; 
    object-fit: contain
}

.jumbotron {
	position: relative;
	background: none;
}

.jumbotron:after {
     content:"";
     background: url("");
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;	
}

.jumbotron p {
     color: #6e6e6e;
}

.project a {
     text-align: center;
}

/* start of search bar css */
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: white;
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;
  /* position: relative */
}

.searchTerm {
  /* float: left; */
  width: 80%;
  /* border: 3px solid #00B4CC; */
  border: 2px solid;
  padding: 5px;
  height: auto;
  border-radius: 5px;
  outline: none;
  margin-left: 1em;
  /* text-align: center */
  /* color: #9DBFAF; */
}
.startDate {
  /* float:left; */
  /* width: 70%; */
  /* border: 3px solid #00B4CC; */
  border: 2px solid;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  /* color: #9DBFAF; */
}
.startingDateRow{
  margin-top: 1em;
  margin-left: 1em;
  padding: 5px;
  height: auto;
  border-radius: 5px;
  outline: none;
  
  /* text-align: center; */
}

.searchTerm:focus{
  color: black;
}

.searchButton {
  position: absolute;  
  /* right: -50px; */
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* end of search bar css */

/* checkbox css */

/* Customize the label (the container) */
.checkboxContainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkboxContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkboxContainer:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkboxContainer input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkboxContainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkboxContainer .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* end of checkbox */

/* start of map.google */
#map{
  height:400px;
  width: 100%;
}
.mapouter {
	text-align: right;
	height: 500px;
	width: 100%;
}
			
.gmap_canvas {
	overflow: hidden;
	background: none !important;
	height: 500px;
	width: 100%;
}
/* end of maps.google */